[submodule "pre/mch"]
	path = pre/mch
	url = https://github.com/Lesstat/mch.git
[submodule "osm-graph/pbfextractor"]
	path = osm-graph/pbfextractor
	url = https://github.com/Lesstat/pbfextractor.git
	ignore = dirty
